@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&display=swap');

/* RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main */

body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 2.7rem;
    font-family: 'syne', sans-serif;
}

h2{
    font-size: 2rem;
    font-family: 'syne', sans-serif;
}

h3{
    font-size: 1.7rem;
    font-family: 'syne', sans-serif;
}

h4{
    font-size: 1.25rem;
    font-family: 'syne', sans-serif;
}

h5{
    font-size: 1rem;
    font-family: 'syne', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    text-decoration: none;
}

p{
    font-family: 'syne', sans-serif;
    padding: 10px;
}

/* Navbar */

.navbar{
    min-height: 80px;
    padding-inline: 10px;
}

.navbar .wiki{
    height: 80px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    display: flex;
    align-items: center;
}

.container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.container ul li{
    margin-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.container ul li a{
    text-decoration: none;
    color:black;
    font-weight: 700;
}

.container ul li a:hover{
    color: #c1c1c1;
}

/* Team */
.title{
    padding: 80px 0;
    background-color: #f1f1f1;
    text-align: center;
}
.equipo{
    padding: 10px 0 80px 0 ;
    background-color: #f1f1f1;
}

.equipo .container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.equipo-box{
    margin: 12px;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h3 a:hover{
    color: #c1c1c1; 
}

/* Versiones */
.versiones {
    height: 800px;
    padding: 80px;
    background-color: #f1f1f1 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.versiones h1{
    text-align: center;
}   

.versiones p{
    text-align: center;
}
