body{
    font-family: sans-serif;
    margin: 0;
}

header a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #8da5b4;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display:flex; 
    align-items: center;
}

.logo img{
    height: 30px;
    margin-right: 10px;

}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

.contenido{
    margin-inline: 20%;
}


@media (max-width: 1050px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
        text-align: center;
    }
}